!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title dry-view issue #134
  %body
    %h1 dry-view issue #134
    %a(href="https://github.com/dry-rb/dry-view/issues/134") https://github.com/dry-rb/dry-view/issues/134
    = yield
