%h2 Try to modify this template
%p
  When this template is modified it's new version won't be rendered until
  rack app is restarted.

%p
  This template is in lib/app/web/templates/poc/

%p= code_reload_test
